<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zavlažovací systém</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div class="menu">
        <div>
            <button id="start-button" style="background-color: #00b30c">Start</button>
            <button id="stop-button" style="background-color: #e70000">Stop</button>
        </div>
        <div>
            <button id="close-button">Close</button>
        </div>
    </div>
    <div class="tabs">
        <a href="/index" class="tab-link">Prehľad</a>
        <a href="/graph" class="tab-link">Graf</a>
        <a href="/gauge" class="tab-link">Ciferník</a>
    </div>
    <div class="container">
        <h1>Zavlažovací systém</h1>
        <div id="animation-container">
            <svg id="bucket" viewBox="0 0 100 100">
                <rect x="20" y="50" width="50" height="50" fill="blue" stroke="black" stroke-width="3"/>
            </svg>
            <svg id="hose" viewBox="0 0 100 100">
                <path d="M90 50 Q70 60 50 50 Q30 40 10 50" stroke="black" stroke-width="5" fill="none" />
            </svg>
            <div id="water" class="water-stream"></div>
        </div>
        <div id="data">
            <p>Teplota: <span id="temperature">--</span>&deg;C</p>
            <p>Vlhkosť: <span id="humidity">--</span>%</p>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    </div>
    <img src="../static/waves.avif" alt="Waves" class="bottom-image">
    <script>
        let temperature = 19;
        let humidity = 50;

        function updateValues() {
            document.getElementById('temperature').textContent = temperature;
            document.getElementById('humidity').textContent = humidity;
        }

        function controlAnimation() {
            const water = document.getElementById('water');
            if (temperature < 20) {
                water.style.height = '100px';
            } else {
                water.style.height = '0';
            }
        }

        updateValues();
        controlAnimation();

        setInterval(() => {
            const randomChoice = Math.round(Math.random());
            temperature = (randomChoice === 0) ? 21 : 19;
            humidity = Math.floor(Math.random() * 101);

            updateValues();
            controlAnimation();

            if (temperature > 24) {
                document.getElementById('water').style.height = '0';
            }
        }, 3000);
    </script>
</body>
</html>
