<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zavlažovací systém</title>
    <link rel="stylesheet" href="../static/index.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js"></script>
</head>
<body>
    <div class="menu">
        <div>
            <button id="start-button" style="background-color: #00b30c">Start</button>
            <button id="stop-button" style="background-color: #e70000">Stop</button>
        </div>
        <div>
            <button id="close-button">Close</button>
        </div>
    </div>
    <div class="tabs">
        <a href="/index" class="tab-link">Prehľad</a>
        <a href="/graph" class="tab-link">Graf</a>
        <a href="/gauge" class="tab-link">Ciferník</a>
        <a href="/db" class="tab-link">Databáza</a>
        <a href="/file" class="tab-link">Súbor</a>
    </div>
    <div class="container">
        <h1>Zavlažovací systém</h1>
        <div id="animation-container">
            <svg id="bucket" viewBox="0 0 100 100">
                <rect x="20" y="50" width="50" height="50" fill="blue" stroke="black" stroke-width="3"/>
            </svg>
            <svg id="hose" viewBox="0 0 100 100">
                <path d="M90 50 Q70 60 50 50 Q30 40 10 50" stroke="black" stroke-width="5" fill="none" />
            </svg>
            <div id="water" class="water-stream"></div>
        </div>
        <div id="data">
            <p>Teplota: <span id="temperature">--</span>&deg;C</p>
            <p>Vlhkosť: <span id="humidity">--</span>%</p>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    </div>
    <img src="../static/waves.avif" alt="Waves" class="bottom-image">
    <script>
        let temperature;
        let humidity;
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/data');

          socket.on('data_update', function(data) {
              console.log(`Teplota: ${data.temperature}, Vlhkost: ${data.humidity}`)
              temperature = data.temperature
              humidity = data.humidity
              document.getElementById('temperature').textContent = data.temperature;
              document.getElementById('humidity').textContent = data.humidity;
          });

          socket.on('disconnect', function() {
              console.log('Disconnected from server');
          });

          document.getElementById('close-button').addEventListener('click', function() {
              if (socket) {
                  socket.disconnect();
                  console.log('Socket connection closed');
              }
              window.location.href = "/";
          });

          document.getElementById('start-button').addEventListener('click', function() {
            fetch('/start', { method: 'POST' })
                .then(response => response.json())
                .then(data => console.log(data))
                .catch(error => console.error('Error:', error));
        });

        document.getElementById('stop-button').addEventListener('click', function() {
            fetch('/stop', { method: 'POST' })
                .then(response => response.json())
                .then(data => console.log(data))
                .catch(error => console.error('Error:', error));
        });

        function controlAnimation() {
            const water = document.getElementById('water');
            if ((temperature < 20) && (humidity < 45)) {
                water.style.height = '100px';
            } else {
                water.style.height = '0';
            }
        }

        setInterval(() => {
            controlAnimation();
        }, 1000);
    </script>
</body>
</html>
